.app {
  display: grid;
  grid-template-rows: 150px auto;
}

.app_main {
  display: flex;
  justify-content: space-evenly;
  padding: 20px 8%;
}

.task_column {
  width: 33.33%;
  margin: 20px;
}

.cursor-pointer{
  cursor:pointer;
}


@media screen and (max-width: 500px) {
  body{
    transform: rotate(90deg);
  }
}